.allChords {
    padding: 3rem 0;

    --colorA: rgb(207, 5, 83);
    --colorB: rgb(214, 130, 20);
    --colorC: rgb(190, 202, 13);
    --colorD: rgb(7, 161, 66);
    --colorE: rgb(7, 67, 95);
    --colorF: rgb(22, 11, 172);
    --colorG: #24034e;

}

.settings {
    background-color: rgb(13, 0, 24);

    .content {
        flex-direction: column;
    }

    .tab-section {
        min-width: 6rem;
        height: 336px;
    }

    .tab {
        width: 3.5rem;
        height: 3.5rem;
        white-space: nowrap;
    }

    .bar {
        display: flex;
        position: relative;
        margin-bottom: 0;
        padding-left: 16px;
        border-left: 1px solid rgba(44, 1, 56, 1);
        border-right: 1px solid rgba(44, 1, 56, 1);
        background-color: transparent;
        background-image: linear-gradient(180deg, rgba(44, 1, 56,1) 0%, rgba(44, 1, 56,1) 1px, rgba(44, 1, 56,0) 1px, 
                    rgba(44, 1, 56,0) 65px, rgb(44, 1, 56, 1) 65px, rgba(44, 1, 56,1) 67px, rgba(44, 1, 56,0) 67px,
                    rgba(44, 1, 56,0) 131px, rgba(44, 1, 56,1) 131px, rgba(44, 1, 56,1) 133px, rgba(44, 1, 56,0) 133px,
                    rgba(44, 1, 56,0) 196px, rgba(44, 1, 56,1) 196px, rgba(44, 1, 56,1) 199px, rgba(44, 1, 56,0) 199px,
                    rgba(44, 1, 56,0) 263px, rgba(44, 1, 56,1) 263px, rgba(44, 1, 56,1) 266px, rgba(44, 1, 56,0) 266px,
                    rgba(44, 1, 56,0) 332px, rgba(44, 1, 56,1) 332px, rgba(44, 1, 56,1) 336px, rgba(44, 1, 56,0) 336px);

        .e {
            top: 0px;
        }

        .b {
            top: 66px;
        }

        .g {
            top: 132px;
        }

        .d {
            top: 198px;
        }

        .a {
            top: 265px;
        }

        .ee {
            top: 334px;
        }
    }

    .eNote {
        background-color: var(--colorE)
    }

    .aNote {
        background-color: var(--colorA)
    }

    .dNote {
        background-color: var(--colorD)
    }

    .gNote {
        background-color: var(--colorG)
    }

    .bNote {
        background-color: var(--colorB)
    }

    .fNote {
        background-color: var(--colorF)
    }

    .cNote {
        background-color: var(--colorC)
    }

    .gsNote {
        background: linear-gradient(135deg, var(--colorG) 24%, var(--colorA) 76%);
    }

    .dsNote {
        background: linear-gradient(135deg, var(--colorD) 24%, var(--colorE) 76%);
    }

    .asNote {
        background: linear-gradient(135deg, var(--colorA) 24%, var(--colorB) 76%);
    }

    .fsNote {
        background: linear-gradient(135deg, var(--colorF) 24%, var(--colorG) 76%);
    }

    .csNote {
        background: linear-gradient(135deg, var(--colorC) 24%, var(--colorD) 76%);
    }
}





